/*

.center {
  height: 700px ;
  margin-top: auto ;
  margin-bottom: auto ;
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  border-style: solid;
  horizontal-align: middle;
  text-align: center;
  vertical-align: middle;
}
*/

h1 {
 font-family:Palatino Linotype;
font-weight:normal;  
text-shadow: #ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;
color: blue;     
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 500px;
    height: 125px;
 /*   border-style: solid;*/
	text-align: center;
}

input[type="text"] {
	width: 300px;
}

input[type="submit"] {
	width: 50px;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type="submit"]:hover {
color:blue;
}